/*Login Page*/
#wrapper img{
    width:100%;
    height: 100%;
}
.img-holder {position: relative;}
.img-holder .link {
    position: absolute;
    bottom: 25%; /*your button position*/
    right: 50%; /*your button position*/
    font-family: batang;
}
.img-holder .welcome {
  position: absolute;
  text-align: center;
  bottom: 65%;
  right: 30%;
  font-family: batang;
}
h1 {
  font-size: 4em;
  color: #D6D1B1;
}


/*Menu*/
img.menu{
  display: block;
  margin-left: auto;
  margin-right: auto
}
#menu ul{
  /*removes left indent automatically done with lists*/
  margin: 0;
  padding: 0;
  /*adds lines to the top and bottom*/
  border-top: 1px double black !important;
  border-bottom: 1px double black !important;
  list-style-type: none;
  /*centers menu text*/
  text-align: center;
}
#menu ul li {
  /*puts menu items in horizontal arrangement*/
  display: inline;
}
#menu ul li a {
  font-family: 'Montserrat', sans-serif;
  color: #000000;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  padding: .2em 1em;
}
#menu ul li a:hover{
    color: #C0C0C0;
}
