img.resize{
  width: 20px;
  height: 40px;
}
#header {
	background-color: #C7EFCF;
  text-align: center;
  font-family: caviar;
  color: #D6D1B1;
}
#menu{
    float: left;

  }
.logout{
    float: right;
  }
ul{
list-style-type: none;
text-align: left;
}
